<div>

    <form>
        <div class="form-row">
            <div class="col-auto">
                <input type="text" name="fristName" class="form-control" 
                    [(ngModel)]="emp.firstName" placeholder="First Name" />
            </div>
            <div class="col-auto">
                <input type="text" name="lastName" class="form-control" 
                    [(ngModel)]="emp.lastName" placeholder="Last Name" />            
            </div>
            <div class="col-auto">
                <button class="btn" (click)="onAdd()">新增</button>
            </div>
            <div class="col-auto">
                <button class="btn" (click)="onUpdate()">更新</button>
            </div>
        </div>
    </form>

    <br/>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>LastName</td>
                    <td>FirstName</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of emps">
                    <td>{{item.lastName}}</td>
                    <td>{{item.firstName}}</td>
                    <!--<td><a class="btn btn-link" [routerLink]="['/detail', item.id]">明細</a></td>-->
                    <td><button type="button" class="btn btn-link" (click)="onEdit(item.id)">修改</button></td>
                    <td><button type="button" class="btn btn-link" (click)="onDel(item.id)">刪除</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>